hostname: 127.0.0.1
pidfile: /mnt/sda1/tmp/agent.pid

eru:
  endpoint: http://localhost:5000

docker:
  endpoint: tcp://192.168.59.103:2376
  cert: cert.pem
  key: key.pem
  ca: ca.pem

lenz:
  forwards:
    - udp://10.100.1.154:50433
  stdout: False

metrics:
  reportinterval: 10
  host: 10.1.201.42:8086
  username: root
  password: root
  database: test

cleaner:
  interval: 10
  dir: /var/lib/docker/containers

redis:
  host: 127.0.0.1
  port: 6379
  min: 5
  max: 100

